---
interface Props {
	img1: string;
    img2: string;
    alt1: string;
    alt2: string
}

const {img1, img2, alt1, alt2} = Astro.props;
---

<div class="carousel-container">
    <div class="carousel-track">
        <div class="carousel-item">
            <img src={img1} alt={alt1}>
        </div>
        <div class="carousel-item">
            <img src={img2} alt={alt2}>
        </div>
        
    </div>
</div>

<style>
    .carousel-container{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .carousel-track{
        display: flex;
        animation: cambio 20s infinite alternate linear;
        
        align-items: center;
        justify-content: center;
        gap: 90px;
        padding: 20px;
    }

    .carousel-item{
        width: 100%;
    }
/* 
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    } */
</style>

<script>
</script>