---

---

<header>
    <div class="container-header">
        <figure>
            <img src="/img/Logo.png" alt="imagen">
        </figure>

        <figure class="header-menuHamburguesa">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M0,7.5v5h50v-5zM0,22.5v5h50v-5zM0,37.5v5h50v-5z"></path></g></g>
            </svg>
        </figure>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </div>
</header>

<style>
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-principal);
        padding: 20px;
        width: 100%;
        position: fixed;
        z-index: 20;
    }

    .container-header{
        display: flex;
        background-color: var(--color-principal);
        justify-content: space-between;
        width: 100%;
        max-width: 1024px;
       
    }

    ul{
        display: none;
    }

    .header-menuHamburguesa svg{
        width: 40px;
        height: 40px;
        color: var(--blanco);

    }

    @media only screen and (min-width: 1024px){
        ul{
            display: flex;
            gap: 20px;
            align-items: center;
        }

        ul li{
            list-style: none;
        }

        ul li a{
            text-decoration: none;
            color: var(--blanco);  
        }

        .header-menuHamburguesa svg{
            display: none;
        }
    }
    
</style>


